.add_container {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 350px;
  background-color: white;
  z-index: 10;
  position: inherit;
  .header {
    margin-bottom: 10px;
  }
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 7px 0;
  }
}
