.gm-ui-hover-effect {
  top: 5px !important;
  right: 5px !important;
}

.gm-style-iw,
.gm-style-iw-c {
  max-width: initial !important;
  max-height: initial !important;
}

.gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom {
  right: 40px !important;
  bottom: 180px !important;
}
