.view_container *:not(.close, .close *, .map) {
  cursor: initial !important;
}

.view_container {
  border: none !important;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 350px;
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 7px 0;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  .buttons_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
